   
 <h1>Popular Items</h1>

<div class="form-container">
        <form action=".php">
         
          <div id="Header">
              <h1>Select</h1>
          </div>
          
           <div id="ManufacturuerInput">
                <input type="text" name="Manufacturer" value="Manufacturer...">
           </div>
           
           <div id="DesignerDdown">
                <select name="" id="">
                    <option value="" selected disabled>Designer</option>
                    <option value="">Example</option>
                </select>
            </div>
            
            <div id="CategoryDdown">
                <select name="" id="">
                    <option value="" selected disabled>Category</option>
                    <option value="">Example</option>
                </select>
            </div>
            <div id="ModelDdown">
                <select name="" id="">
                    <option value="" selected disabled>Model</option>
                    <option value="">Example</option>
                </select>
            </div>
            
            <div id="WoodTypeDdown">
                <select name="" id="">
                    <option value="" selected disabled>Wood Type</option>
                    <option value="">Example</option>
                </select>
            </div>
            
            <div id="MetalTypeDdown">
                <select name="" id="">
                    <option value="" selected disabled>Metal Type</option>
                    <option value="">Example</option>
                </select>
            </div>
            
            <div id="UpholsteryDdown">
                <select name="" id="">
                    <option value="" selected disabled>Upholstery</option>
                    <option value="">Example</option>
                </select>
            </div>
            
            <div id="CountryDdown">
                <select name="" id="">
                    <option value="" selected disabled>Country</option>
                    <option value="">Example</option>
                </select>
            </div>
            
            <div id="SearchButton">
                <button type="button">SEARCH</button>
                <img src="images/SearchBar.png" alt="Search Icon">
            </div>
            
        </form>
    </div>
