<div class="site-content">
       <div id="header">
        <h1>Have a Question?</h1>
    </div>
    
    <div id="ContactInfoBlock">
        <img src="images/AdBlock.JPG" alt="Ad">
    </div>
    <section id="FormContact">
    
        <form action=".php">
        
        <section id="FormInputs">
           
            <div id="NameInput">
                       <h2>Name:</h2>
                        <input type="text" name="name" value="" class="NameText">
                   </div>

            <div id="EmailInput">
                       <h2>Email:</h2>
                        <input type="text" name="email" value="" class="EmailText">
                   </div>

            <div id="MesageInput">
                       <h2>Message:</h2>
                        <input type="text" name="message" value="" class="messageText">
                   </div>
                   
            </section>
            
           <!-- <section id="CheckButton">
                <input type="checkbox" name="Recive" value="email" >Would you like to receive and email for our new arrivals?<br>
            </section>-->

            <div id="SendButton">
                    <button type="button">SUBMIT</button>
                </div>
        </form>
    </section>
   </div>